@import url("https://fonts.googleapis.com/css?family=Lato");
html,
body {
  height: 100%;
  margin: 0;
  font-family: Lato, sans-serif;
  background-color:     #E1E2E1;
}
header{
background: #a114cc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f05c5, #7a229c );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f05c5, #7a229c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 70px;
}

.card-header{
background: #a114cc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6f05c5, #7a229c );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6f05c5, #7a229c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color:white;
font-weight: 400;
}
.btn{
  background:#6f05c5; 
  border: 1px solid #169F85;
  color: #E1E2E1; 
}